extends layout

block content
    div.panel.panel50(style='border:1px solid #eee')
        div(style="margin:10px;")
            button.filter.btn.btn-lg.btn-primary(onclick="selectAll(this)") &nbsp;全部&nbsp;
            button.filter.btn.btn-lg.btn-default.active(onclick="request(this)" style='margin-left: 15px;' ) &nbsp;请求&nbsp;
            button.filter.btn.btn-lg.btn-default.active(onclick="accepted(this)" style='margin-left: 15px;' ) 已接受
    div(style="margin-top:30px;")
        table#List.table.table-striped
            div
                thead
                    tr
                        th(style="width: 15%") 状态
                        th(style="width: 18%;text-indent:25px;") 服务
                        th(style="width: 33%") 发起时间
                        th(style="width: 10%") 座席
                        th(style="width: 16%") 别名
                        th(style="width: 8%")
            div
                tbody#service
                    - var foo = {'服务人员' : 'server', '咖啡' : 'coffee', '矿泉水': 'water', '纸巾':'tissue', '纸本':'paper', '笔':'pen', '茶水':'tea'};
                    for item in data
                        tr(id='#{item.id}')
                            if item.status == '请求'
                                td(style="background-color:#B22222;color:#fff;") 请求
                            else
                                td(style="background-color:#008000;color:#fff;") 已接受
                            td(style="text-indent:25px;")
                                div
                                    img(src="/images/"+foo[item.service]+".png",style="width:40px;margin-right:10px;")
                                    span= item.service
                            td= item.createtime
                            td= item.chairname
                            td= item.name
                            td(id='td_#{item.id}')
                                if item.status == '请求'
                                    button.btn.btn-lg.btn-primary(type='button' style="margin-right:50px;" onclick="btnclick('#{item.id}')") 处理
                                else
                                    button.btn.btn-lg.btn-danger(type='button' style="margin-right:50px;" onclick="btndelete('#{item.id}')") 删除