extends layout

block content
    div.panel.panel50(style='border:1px solid #eee')
        div(style="margin:10px;")
            button.shaixuan.btn.btn-lg.btn-primary(onclick="selectAll(this)") &nbsp;全部&nbsp;
            button.shaixuan.btn.btn-lg.btn-default.active(onclick="request(this)" style='margin-left: 15px;' ) &nbsp;请求&nbsp;
            button.shaixuan.btn.btn-lg.btn-default.active(onclick="accepted(this)" style='margin-left: 15px;' ) 已接受
    div(style="margin-top:30px;")
        table#List.table.table-striped
            thead
                tr
                    th(style="width: 20%") 服务
                    th(style="width: 20%") 发起时间
                    th(style="width: 15%") 座席
                    th(style="width: 15%") 别名
                    th(style="width: 10%") 状态
                    th
            tbody#service
                for item in data
                    tr(id='#{item.id}')
                        td
                            div
                                img(src="/images/#{item.service}.png",style="width:30px;margin-right:10px;")
                                span= item.service
                        td= item.createtime
                        td= item.name
                        td= item.chairname
                        if item.status == '请求'
                            td(style="background-color:#B22222;color:#fff;") 请求
                        else
                            td(style="background-color:#008000;color:#fff;") 已接受
                        td(id='td_#{item.id}')
                            if item.status == '请求'
                                button.btn.btn-lg.btn-primary(type='button' style="margin-left:100px;" onclick="btnclick('#{item.id}')") 处理
                            else
                                button.btn.btn-lg.btn-danger(type='button' style="margin-left:100px;" onclick="deletes('#{item.id}')") 删除

