extends layout

block content
  h1= title
  p Welcome to #{title}
    br
    div#service
        for item in data
           div
               span= item.id
               span= item.name
               span= item.chairname
               span= item.service
               span= item.status

               button(
                type='button'
                onclick='btnclick("#{item.id}")') 处理

